.nav-item{
    color: var(--text-200);
    font-size: 16px;
    padding: 8px 16px;
    margin-right: 16px;
    text-transform: uppercase;
    font-family: var(--font-default);
}

.nav-item:last-child{
    margin-right: 0px;
}

.nav-brand img{
    height: 100%;
    width: auto;
    padding: 8px;
    box-sizing: border-box;
}

.btn-primary-100{
    border: 0;
    background: var(--primary-100);
    color: var(--text-100);
    width: 128px;
    height: 32px;
}

.btn-primary-200{
    border: 0;
    background: var(--primary-200);
    color: var(--text-200);
    width: 128px;
    height: 32px;
}

.btn-primary-300{
    border: 0;
    background: var(--primary-300);
    color: var(--text-200);
    width: 128px;
    height: 32px;
}