.nav-item:hover{
    color: var(--nicu-secondary-tint);
}

.nav-item:last-child{
    margin-right: 0px;
}

.nav-brand img{
    height: 100%;
    width: auto;
    padding: 8px;
    box-sizing: border-box;
}

button{
    border: 0;
    width: 128px;
    height: 32px;
}

.primary{
    background: var(--nicu-primary);
    color: var(--nicu-primary-contrast);
}

.primary:hover{
    background: var(--nicu-primary-tint);
    color: var(--nicu-primary-contrast);
}

.secondary{
    background: var(--nicu-secondary);
    color: var(--nicu-secondary-contrast);
}

.secondary:hover{
    background: var(--nicu-secondary-tint);
    color: var(--nicu-secondary-contrast);
}

.tertiary{
    background: var(--nicu-tertiary);
    color: var(--nicu-tertiary-contrast);
}

.tertiary:hover{
    background: var(--nicu-tertiary-tint);
    color: var(--nicu-tertiary-contrast);
}

.success{
    background: var(--nicu-success);
    color: var(--nicu-success-contrast);
}

.success:hover{
    background: var(--nicu-success-tint);
    color: var(--nicu-success-contrast);
}

.danger{
    background: var(--nicu-danger);
    color: var(--nicu-danger-contrast);
}

.danger:hover{
    background: var(--nicu-danger-tint);
    color: var(--nicu-danger-contrast);
}

.warning{
    background: var(--nicu-warning);
    color: var(--nicu-warning-contrast);
}

.warning:hover{
    background: var(--nicu-warning-tint);
    color: var(--nicu-warning-contrast);
}
